body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#container{
    display: flex;
    background-image: url('./image/top-banner.png');
    background-repeat: no-repeat;
}
.myself{
    width: 50%;
    padding-left: 3%;
    padding-top: 20px;
    padding-right: 3%;
}
.myself h1{
    font-size: 40px;
}
.myself p{
    line-height: 30px;
    padding-bottom: 20px;
}
.myself h1 .ash{
   color: orange ;
}
.myself img{
    width: 80%;
}
.button{
  text-decoration: none;
  background: #fff;
  padding: 15px 20px;
  color: #333;
  letter-spacing: 1.5px;
  border-radius: 25px;  
}
.button:hover{
    background-image: linear-gradient(orange, tomato);
    color: #fff;
}
#dream{
    display: flex;
    background-image: url('./image/dream-bg.png');
    background-repeat: no-repeat;
    background-position:right;
    margin-top: 150px;  
} 
#experience{
    background-image: url('./image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 150px;;
    margin-top: 150px;
    margin-bottom: 30px;
}
#experience h1{
   font-size: 50px;
}
h2{
    font-size: 30px;
}
.myself-rl{
    display: flex;
}
.myself-rl h1{
    font-size: 45px;
}
.myself-rl h3{
    color: orange;
}
.left{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#left{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}